<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="products.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="tabs">
            <a href="/Home">Home</a>
            <a href="/products" class="onit">Products</a>
            <a href="/newproducts">New Products</a>
            <a href="/dashboard">Dashboard</a>
        </div>
        <div class="other">
            <a href="/login">Logout</a>
        </div>
    </nav>
    <main>
        <h2>Product Catalogue</h2><br>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
            <% products.forEach(product => { %>
            <tr>
                <td><%= product.id %></td>
                <td><%= product.name %></td>
                <td><%= product.category %></td>
                <td><%= product.quantity %></td>
                <td><%= product.price %></td>
                <td><a href="#" id="delete">Edit</a></td>
                <td>
                    <form action="/products/delete/<%= product.id %>" method="POST" style="display:inline;">
                      <button type="submit" id="choka">Delete</button>
                    </form>
                </td>
            </tr>
            <% }); %>
          </table>
    </main>
</form>
</body>
</html>